# Dependencies
node_modules/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

server/config/firebase-config.js

node_modules/
serviceAccountKey.json

server/node_modules/
server/.env
server/config/serviceAccountKey.json