# ===== Server =====
PORT=3000

# ===== MQTT Broker =====
MQTT_BROKER_URL=mqtt://127.0.0.1:1883
MQTT_PORT=1883

# ===== MQTT Topics =====
MQTT_TOPIC_GAS_DATA=gas/sensor/data
MQTT_TOPIC_GAS_ALERT=gas/sensor/alert
MQTT_TOPIC_CONTROL_BUZZER=gas/control/buzzer
MQTT_TOPIC_BUZZER_STATE=gas/status/buzzer

# ===== ESP32 =====
DEVICE_ID=ESP32-GAS-MONITOR

# ===== Firebase Admin SDK =====
FIREBASE_SERVICE_ACCOUNT_PATH=./config/serviceAccountKey.json
FIREBASE_DATABASE_URL=https://YOUR-PROJECT-ID.firebaseio.com